<mat-card>
  <mat-card-title class="text-center">Data Summary</mat-card-title>
  <table class="table table-bordered text-center" *ngIf="tableSource">
    <thead>
      <tr>
        <th scope="col">STATUS</th>
        <th scope="col">COUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSource">
        <td class="font-weight-bolder">{{ data.statusName }}</td>
        <td>{{ tableSource.actions | statusCount:  data.statusName }}</td>
      </tr>
    </tbody>
  </table>
</mat-card>